.shop-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    border-bottom: 1px solid #e5e5e5;
}

.shop-header .logo {
    padding-left: 1rem;

    font-family: "Playfair Display", Georgia, serif;
    font-size: 2.5rem;
}

.shop-header .shopping-cart {
    align-self: center;
    padding-right: 1rem;
    
    font-size: 1.3rem;
}

.shop-header .shopping-cart .cart-icon {
    margin-right: 10px;

    color: cadetblue;
    font-size: 2.2rem;
}

